<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
   layout:decorate="~(Layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
   <div class="alert alert-primary" th:if="$(mensagem != null}" th:text="${mensagem)">
   </div>
   <div class="card">
       <div class="card-header">
          <p class= "text-primary">Novo Desenvolvedor</p>
       </div>
       <div class="card-body">
          <form method="POST" th:object="${desenvolvedor}" th:action="@{/desenvolvedor/editar}">
              <input type="hidden" th:field="{id}">
              <div class="form-group mb-3">
                 <label for="nome">Nome:</label>
                 <input
                    class="form-control" type="text" th:field="*(nome}" required></input>
                 <div class="text-danger" th:if="S{#fields.hasErrors('nome')}" th:errors="(nome}"></div>
              </div>
              <div class="form-group mb-3">
                 <label for="quatroLetras">Quatro letras:</label>
                 <input
                    class="form-control" type="text" th:field="*(quatroLetras}" required></input>
                 <div class="text-danger" th:if="S{#fields.hasErrors('quatroLetras')}" th:errors="{quatroLetras}"></div>
              </div>
              <div class="form-group mb-3">
                 <label for="nome">Email:</label>
                 <input
                    class="form-control" type="email" th:field="*{email}" required></input>
                 <div class="text-danger" th:if="S{#fields.hasErrors('email')}" th:errors="{email}"></div>
              </div>
              <div class="form-group mb-3">
                 <label for="nome">Salario Mensal:</label>
                 <input
                    class="form-control" step="0.01" min="0.01" type="number" th:field="*{salarioMensal}" required></input>
                 <div class="text-danger" th:if="S{#fields.hasErrors('salarioMensal')}" th:errors="{salarioMensal}"></div>
              </div>
              
              <button type="submit" class="btn btn-primary">Salvar
                 Linguagem</button>
          </form>
       </div>
   </div>
</div>
</html>