<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Última versão CSS compilada e minificada -->
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/bootstrap-icons.svg">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">



<title>Página Principal</title>
</head>

<body class="bg-light">
<div id="menu">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #243c7c; color: #ffff;">
	<div class="container">
		<a class="navbar-brand" href="#" style="color: #fff;">GFT</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" style="color: #fff;" href="#">Home
				</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false" style="color: #fff;"> Linguagem </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/linguagem/novo}">Cadastrar</a> 
						<a class="dropdown-item" th:href="@{/linguagem}">Listar</a>
					</div>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false" style="color: #fff;"> Desenvolvedores </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/desenvolvedor/editar}">Cadastrar</a> <a
							class="dropdown-item" th:href="@{/desenvolvedor}">Listar</a>
					</div>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false" style="color: #fff;"> Projetos </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/projeto/editar}">Cadastrar</a> <a
							class="dropdown-item" th:href="@{/projeto}">Listar</a>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" onclick="document.querySelector('#form-login').submit()" sec:authorize="isAuthenticated()" style="color: #fff;" href="#">Logout
				</a>
				<form id="form-login" th:action="@{/logout}" method="post"></form>
				</li>
			</ul>
		</div>
	</div>
		
	</nav>
</div>
	
	<div id="conteudo" layout:fragment="content"></div>



	<!-- Última versão JavaScript compilada e minificada -->
	<script src="https://kit.fontawesome.com/9a9150d0a4.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



</body>

</html>