<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Opcões</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Linguagem : ${Lista}">
					<td th:text="${linguagem. id}"></td>
					<td th:text="${Linguagem.nome }"></td>
					<td></td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>


</html>