<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
   layout:decorate="~(Layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
   <div class="alert alert-primary" th:if="$(mensagem != null}" th:text="${mensagem)">
   </div>
   <div class="card">
       <div class="card-header">
          <p class= "text-primary">Nova Linguageme</p>
       </div>
       <div class="card-body">
          <form method="POST" th:object="linguagem" th:action="@{/linguagem/novo}">
              <input type="hidden" th:field="{id}">
              <div class="form-group mb-3">
                 <label for="nome">Nome da Linguagem:</label>
                 <input
                    class="form-control" type="text" th:field="*(nome}" required></input>
                 <div class="text-danger" th:if="S{#fields.hasErrors('nome')}" th:errors="{nome}"></div>
              </div>
              <button type="submit" class="btn btn-primary">Salvar
                 Linguagem</button>
          </form>
       </div>
   </div>
</div>
</html>